@using Microsoft.Extensions.Localization
@inherits GameComponent
@inject IStringLocalizer<App> Localiser
@inject WikiLinkService WikiLinks

<MudSimpleTable Dense="true" Hover="true" Bordered="true" Striped="true" Style="overflow-x: auto;">
    <thead>
        <tr>
            <th class="py-1 px-2">Ghost</th>
            @foreach (var evidence in Game.Evidences)
            {
                <th class="py-1 px-2" style="vertical-align: bottom">
                    <div class="d-flex flex-column align-center">
                        <EvidenceHeader Evidence="evidence" />
                        <div class="d-flex flex-row">
                            <EvidenceStateButton Game="Game" Evidence="evidence" State="EvidenceState.Missing" />
                            <EvidenceStateButton Game="Game" Evidence="evidence" State="EvidenceState.Unknown" />
                            <EvidenceStateButton Game="Game" Evidence="evidence" State="EvidenceState.Present" />
                        </div>
                    </div>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var ghost in Game.Ghosts)
        {
            <tr style="@RowStyle(ghost.State)">
                <td class="px-2 py-1">
                    <MudLink Color="Color.Inherit" 
                             Typo="Typo.body2"
                             Href="@WikiLinks.GetWikiLinkFor(ghost)"
                             Target="_blank">
                        @Localiser[ghost.Type.ToString()]
                    </MudLink>
                </td>
                @foreach (var evidence in Game.Evidences)
                {
                    <td class="px-2 py-1">
                        @if (ghost.RequiredEvidence.HasFlag(evidence.Type))
                        {
                            <div class="d-flex justify-center">
                                <EvidenceColumnIcon Evidence="evidence" GhostState="ghost.State" />
                            </div>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</MudSimpleTable>

@code 
{
    private string RowStyle(GhostState ghostState) =>
            ghostState switch
            {
                GhostState.Potential => "",
                GhostState.NotPossible => "background-color: #5A0F11; color: #BBBBBBBB;",
                GhostState.Definite => "background-color: #11802B; color: #FFFFFFFF;",
                _ => "",
            };
}
