@page "/"
@inherits FluxorComponent

@switch (Game.SyncState)
{
    case SynchronisationState.Disconnected:
        <JoinGameDialogue />
        break;
    case SynchronisationState.Connecting:
        <JoiningGameDialogue />
        break;
    case SynchronisationState.Connected:
        <GameDialogue />
        break;
    default:
        <h1 class="text-danger">???</h1>
        break;
}
